@page "/reservas/details"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Reserva</h2>
    <hr />
    @if (reserva is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FechaReserva</dt>
            <dd class="col-sm-10">@reserva.FechaReserva</dd>
            <dt class="col-sm-2">Confirmada</dt>
            <dd class="col-sm-10">@reserva.Confirmada</dd>
            <dt class="col-sm-2">IdFuncion</dt>
            <dd class="col-sm-10">@reserva.IdFuncion</dd>
        </dl>
        <div>
            <a href="@($"/reservas/edit?idreserva={reserva.IdReserva}")">Edit</a> |
            <a href="@($"/reservas")">Back to List</a>
        </div>
    }
</div>

@code {
    private Reserva? reserva;

    [SupplyParameterFromQuery]
    private int IdReserva { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reserva = await context.Reservas.FirstOrDefaultAsync(m => m.IdReserva == IdReserva);

        if (reserva is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
