@page "/butacas/delete"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Butaca</h2>
    <hr />
    @if (butaca is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Numero</dt>
            <dd class="col-sm-10">@butaca.Numero</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Fila</dt>
            <dd class="col-sm-10">@butaca.Fila</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EsVip</dt>
            <dd class="col-sm-10">@butaca.EsVip</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EsAccesible</dt>
            <dd class="col-sm-10">@butaca.EsAccesible</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IdSala</dt>
            <dd class="col-sm-10">@butaca.IdSala</dd>
        </dl>
        <EditForm method="post" Model="butaca" OnValidSubmit="DeleteButaca" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(butaca is null)">Delete</button> |
            <a href="/butacas">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Butaca? butaca;

    [SupplyParameterFromQuery]
    private int IdButaca { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        butaca = await context.Butacas.FirstOrDefaultAsync(m => m.IdButaca == IdButaca);

        if (butaca is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteButaca()
    {
        using var context = DbFactory.CreateDbContext();
        context.Butacas.Remove(butaca!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/butacas");
    }
}
