@page "/funcions/delete"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Funcion</h2>
    <hr />
    @if (funcion is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FechaHora</dt>
            <dd class="col-sm-10">@funcion.FechaHora</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PrecioEntrada</dt>
            <dd class="col-sm-10">@funcion.PrecioEntrada</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IdPelicula</dt>
            <dd class="col-sm-10">@funcion.IdPelicula</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IdSala</dt>
            <dd class="col-sm-10">@funcion.IdSala</dd>
        </dl>
        <EditForm method="post" Model="funcion" OnValidSubmit="DeleteFuncion" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(funcion is null)">Delete</button> |
            <a href="/funcions">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Funcion? funcion;

    [SupplyParameterFromQuery]
    private int IdFuncion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        funcion = await context.Funciones.FirstOrDefaultAsync(m => m.IdFuncion == IdFuncion);

        if (funcion is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteFuncion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Funciones.Remove(funcion!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/funcions");
    }
}
