@page "/funcions/details"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Funcion</h2>
    <hr />
    @if (funcion is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FechaHora</dt>
            <dd class="col-sm-10">@funcion.FechaHora</dd>
            <dt class="col-sm-2">PrecioEntrada</dt>
            <dd class="col-sm-10">@funcion.PrecioEntrada</dd>
            <dt class="col-sm-2">IdPelicula</dt>
            <dd class="col-sm-10">@funcion.IdPelicula</dd>
            <dt class="col-sm-2">IdSala</dt>
            <dd class="col-sm-10">@funcion.IdSala</dd>
        </dl>
        <div>
            <a href="@($"/funcions/edit?idfuncion={funcion.IdFuncion}")">Edit</a> |
            <a href="@($"/funcions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Funcion? funcion;

    [SupplyParameterFromQuery]
    private int IdFuncion { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        funcion = await context.Funciones.FirstOrDefaultAsync(m => m.IdFuncion == IdFuncion);

        if (funcion is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
